/* Setting the correct mobile view  https://courses.joshwcomeau.com/css-for-js/05-responsive-css/11-viewport-units */
/* <meta name='viewport' content='initial-scale=1, viewport-fit=cover'> */
html,
body,
#root {
  /* --full-width: calc(100vw - var(--scrollbar-width)); */
  width: 100%;
  height: 100%;
  /* font-size: 16px; */
  text-decoration: none;
  /* height: 100vh; */
  /* height: calc(var(--vh, 1vh) * 100); */
  /* height: calc(100vh - calc(100vh - 100%)); */
  /* padding-bottom: 6rem; */
}

/* :root {
  --breakpoint-min: 568px;
  --breakpoint-max: 768px;
  --value-min: 16px;
  18px: 18px;
} */

html,
body,
#root {
  font-size: 16px;
}

@media (min-width: 568px) {
  html,
  body,
  #root {
    font-size: calc(16px + (18px - 16px) * ((100vw - 568px) / (768 - 568)));
  }
}

@media (min-width: 768px) {
  html,
  body,
  #root {
    font-size: 18px;
  }
}

.wrapper {
  width: var(--full-width);
}

button:hover {
  cursor: pointer;
}

body {
  margin: 0 auto;
  font-family: "sofia-pro";
  color: #254cdd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #170b37;
  color: white;
  font-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  /* max-width: 80vh;
  max-height: 80vh; */
  padding: 60px 100px;
  margin: 0 auto;
  text-align: left;
  /* border: solid 1px red; */
  /* width: clamp(500px, 65%, 800px); */
}
input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  font-size: 1rem;
  width: 100%;
  border-color: rgba(4, 4, 5, 0.1);
  line-height: 32px;
}

input:focus {
  outline: none;
  border-color: rgba(4, 4, 5, 0.4);
}

a {
  color: inherit; /* blue colors for links too */
}
